@import "header";

$info:#60697B;

.common{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($m,$p){
 margin: $m;
 padding: $p;
}
.coriss{
    background-color: rgba(84,168,199,.7);
    @extend .common;
    margin-top: 140px;
    img{
        margin-top: -100px;
    }
    .high{
        margin-left: 90px;
    }
    .high1{
        @include flex(0,0 80px 0 80px)
    }

    .analysis{
        margin-top: 110px;
    }
}

